.detailsForCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
    gap: 50px;    
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 70%;
    height: 200px;
    opacity: 90%;
    text-align: center;
    background: linear-gradient(var(--purple), var(--pink));
    
  }
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

