@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

:root
{
    --purple:  #9198e5;
    --pink:  #e66465;
    --white: #fff;
    --grey:  #f5f5f5;
    --black: #222;
    --lightblack: #999;
}
body
{
    min-width: 10vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    right: 0px;
    width: 300px;
    height: 100%;
    background: linear-gradient(var(--purple), var(--pink));
    border-right: 10px solid linear-gradient(var(--purple), var(--pink));
    transition: 1s;
    overflow: hidden;
    text-align: right;
}
.navigation.active
{
    width:70px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    padding: 10px 0px 10px;
    text-align: right;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:hover a ,
.navigation ul li.hovered a
{
    color: var(--purple);
}
.navigation ul li a
{
    position: relative;
    color: var(--white);
    min-width: 60px;
    text-decoration: none;
    display:flex;
    justify-content: flex-end;
}
.navigation ul li a .icon ion-icon
{
    font-size:1.75em;
    padding:8px
}
.navigation ul li a .title
{
    position: relative;
    font-size:1.2em;
    height: 40px;
    line-height: 40px;
    margin-right: 60px;
    font-weight: 800;
}

.navigation ul li.hovered a::before,   /* class generated by javascript */
.navigation ul li:hover a::before
{
    content:'';
    position: absolute;
    left: 0px;
    top: -60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:transparent;
    box-shadow:-25px 25px 0px 0px var(--white);
}

.navigation ul li.hovered a::after,   /* class generated by javascript*/
.navigation ul li:hover a::after
{
    content:'';
    position: absolute;
    left: 0px;
    bottom: -60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:transparent;
    box-shadow:-25px -25px 0px 0px var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}


/* main content */

.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 0px;
    min-height:100vh;
    background: var(--white);
    transition:1s;
}
.main.active
{
    width: calc(100% - 70px);
}
.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.toggle
{
    position: relative;
    top: 0;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.5em;
    cursor: pointer;
}

.pageBox
{
    position: relative;
    width: 100%;
    padding:15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    transition:1s;
}

.pageBox .page1
{
    position: relative;
    background: var(--white);
    padding:30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 7px 25px rgba(245, 0, 0, 0.3);
    cursor: pointer;
    transition:1.5s;
    min-height: 400px;
    max-height: 400px;
}
.pageBox .page1:hover
{
    background:rgb(209, 143, 221);
}
.pageBox .page1 .myimg img
{
    border-radius: 50%;
}

.pageBox .page2
{
    position: relative;
    background: var(--white);
    padding:30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 7px 25px rgba(245, 0, 0, 0.3);
    cursor: pointer;
    transition:1.5s;
    display: flex;
    min-height: 400px;
}
.pageBox .page2:hover
{
    background:rgb(209, 143, 221);
}

.pageBox .page2 .genimg img
{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.pageBox .page2 .ach_text
{
    padding:20px;
}
.pageBox .page2 .ach_text h4{
    font-size: 1em;
    padding-top: 30px;
}

/* page Box 2  project*/
.pageBox2
{
    position: relative;
    width: 100%;
    padding:15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    transition:1s;
}
.pageBox2 .page3
{
    position: relative;
    background: var(--white);
    padding:30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 7px 25px rgba(245, 0, 0, 0.3);
    cursor: pointer;
    transition:1.5s;
    display: flex;
    min-height: 400px;
    max-height: 400px;
}
.pageBox2 .page4
{
    position: relative;
    background: var(--white);
    padding:30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 7px 25px rgba(245, 0, 0, 0.3);
    cursor: pointer;
    transition:1.5s;
    display: flex;
    min-height: 400px;
    max-height: 400px;
}

.pageBox2topbar
{
    padding:30px;
    background: linear-gradient(to right, var(--purple), var(--white));

}


/* removing highlighting on click on android browser */ 
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*making it responsive*/

@media (max-width: 991px)
{
    .navigation
    {
        right: -300px;
    }
    .navigation.active
    {
        width:300px;
        right: 0;
    }
    .main
    {
        left : 0px;
        width: 100%;
        
    }
   .main.active
    {
        width: calc(100% - 300px);
        z-index: -1000;
    }   
    .pageBox
    {
        grid-template-columns: repeat(1, 1fr); 
    }

    .pageBox .page2
    {
        display: block;
    }

    .pageBox2
    {
        grid-template-columns: 1fr
    }
}



.main .patientdetailscontainer
{
    padding:5px;
}

.main .patientdetailscontainer .details
{
    padding: 20px;
}

.bpmtemp
{
    padding: 20px;
}

